<!DOCTYPE html>
<html>

<head>
<title>Sample 3DSecure Page</title>

</head>

<body>

	<form method="post"
		action="https://pit.3dsecure.net/VbVTestSuiteService/pit1/acsService/paReq?summary=ZWJjZjI2NmItMGYyMy00OGUxLWI0NjEtODZiYmIwNDBkMWYx">
		PaReq : <input type="text" name="PaReq"
			value="eJxVUdluwjAQfO9XoLwXxzmIgzZGUKCHxCEOqa/GWSAtSajjVPD3tWmA1k876/XMegZ6p/zQ+kZVZWWROLTtOi0sZJlmxS5x1qvxI3N6/AFWe4U4XKKsFXKYYFWJHbayNHEC3xUe3SJlEQ2YDGNvIze+3PosjrEjmcNh3l/gF4dGhRuRtgfkCg2bkntRaA5Cfg1epzyIAhozIA2EHNXrkMfNAfKLoRA5clnmWokUgVwgyLIutDpzPzISVwC1OvC91seqS4jGSrfNMyC2C+QuP69tVRmWU5byAz2/icWiZEHkdqRaDtfZUD5vwlnKEiB2AlKhkXsujV3PYy3qd0O/64dALn0QuZXn1IvbdusGwtGq9G939upvC4zFykRw5nFkPLghwNOxLNBMmI/daiD3pZ9erINSG29esvFqVI8+nz/W78qn0zofTGb9JLGeXgYsW2ac8UL6S2cBEEtBmrhIk7Kp/qX/A0Oxt4s=" />
		<br></br> TermUrl : <input type="text" name="TermUrl"
			value="https://www.mywebsite.com/process3dSecure" /> <br> <br>
		<input type="submit" value="Submit">
	</form>

</body>

</html>